*{
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

h1{
  text-align: center;
}

div{
  margin: 0 auto;
  width: 400px;
  height: 500px;
  background-color: lightgrey;
  padding: 20px;
  border-radius: 20px;
}

#main{
  box-shadow: 1px 1px 2px 2px black;
}

label{
  margin-left: 10px;
}

form{
  width: 300px;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 50px;
}

input[type="text"]{
  width: 100px;
  height: 30px;
  margin-top: 10px;
}

#cost{
  margin: 0 auto;
  width: 50%;
  height: auto;
  background-color: inherit;
}

#calculation{
  margin: 0;
  width: 100%;
  height: auto;
  background-color: inherit;
}

select{
  margin-left: 93px;
}


button[type="button"]{
  width: 100%;
  margin: 10px 0;
  height: 30px;
  border-radius: 15px;
}

input, button{
  margin: 0 auto;
}

p{
  text-align: center;
  margin: 0;
}
.tip{
  height: auto;
  float: left;
  width: 42.5%;
  background-color: inherit;
}
.tip:last-child{
  margin-left: 10%;
}

p.tipp{
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.red{
  color: white;
  background-color: red;
}

.red h1{
  font-size: 50px;
  margin: 0;
}

/*.red form{
  margin-top: 10px;
}*/
